@import "tailwindcss";

html {
  scrollbar-gutter: stable both-edges;
}

@font-face {
  font-family: 'Gill Sans';
  src: url('/fonts/GillSans.woff2') format('woff2'),
       url('/fonts/GillSans.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gill Sans';
  src: url('/fonts/GillSansBold.woff2') format('woff2'),
       url('/fonts/GillSansBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html[lang="en"] {
  font-family: var(--font-en);
}

html[lang="ar"] {
  font-family: var(--font-ar);
}

@theme {
  --font-en: 'Gill Sans', sans-serif;
  --font-ar: 'Alexandria', sans-serif;
  --color-itechsBlue: #143980;
  --color-itechsSkyBlue: #EAF6F7;
  --color-itechsTeal: #2B8F92;
}
